* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  background-color: #ddd;
  flex-direction: column;
}
h1 {
  margin-bottom: 80px;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  max-width: 100%;
  width: 400px;
}

.progress-container::before {
  content: "";
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%);
  height: 5px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: blueviolet;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%);
  height: 5px;
  width: 0%;
  z-index: -1;
}

.icon-wrapper {
  background-color: yellow;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid orange;
}

.icon-wrapper i {
  position: absolute;
  font-size: 25px;
  bottom: 25px;
}

.icon-wrapper .label {
  position: absolute;
  font-size: 25px;
  bottom: -30px;
  font-weight: bold;
}
