* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(239, 202, 155);
}
h1 {
  margin-bottom: 30px;
}
.slider {
  border-radius: 2px;
  position: relative;
  max-width: 45rem;
  height: 25rem;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 30px;
}

.bottom-container button {
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(252, 150, 26);
  letter-spacing: 2px;
  cursor: pointer;
}

.dots-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.dots-container .dot {
  width: 40px;
  height: 15px;
  border-radius: 8px;
  background-color: rgba(2, 2, 2, 0.116);
  cursor: pointer;
}
