* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  text-align: center;
}

/* center a div without using flex */

.container {
  /* border: 2px solid red; */
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-star-o::before {
  content: "\f006";
  font-size: 30px;
}

.fa-star::before {
  color: rgb(243, 243, 51);
  content: "\f005";
  font-size: 30px;
}
.fa-star:hover {
  cursor: pointer;
}

.selected-rating-container {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.selected-rating-container p {
  font-size: 19px;
}
